# package
__pycache__
*.egg-info
data
docs
tmp
ts_datasets
# pytest
.pytest_cache
.coverage*
htmlcov
# IDE/system
.idea
*.swp
.DS_Store
sandbox
.vscode
Icon?
# build files
docs/build/*
.ipynb_checkpoints
venv/